# deps
node_modules/
.pnp.*

# builds
.next/
out/
dist/
build/
.turbo/

# env
.env
.env*.local
!.env.example

# prisma
packages/db/prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# TS incremental build info
*.tsbuildinfo
